$c-pink: #d563a8;
$c-darkpink: #d10b83;
$c-lightpink: #faf4f8;

@font-face {
    font-family: "Nunito";
    src: url("/static/fonts/Nunito-Regular.ttf");
}
@font-face {
    font-family: "NunitoBold";
    src: url("/static/fonts/Nunito-Bold.ttf");
}
@font-face {
    font-family: "RoseCake";
    src: url("/static/fonts/Rose-Cake.otf");
}