header {
    background-color: black;
    position: fixed;
    z-index: 1;
    width: 100%;
}
header a {
    color: white;
    font-weight: bold;
}
.nav-menu {
    justify-content: flex-end;
}
.nav-icon {
    background-image: url(media/nav.png);
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    background-size: 100% 100%;
}
.navbar-nav {
    align-items: center;
}
.nav-link:hover {
    color: $primary;
}
.social li {
    display: inline-block;
}

/*Section about*/
.about {
    padding: 7%;
    margin-top: 31px;
    text-align: center;
    background-color: $primary;
    color: #ffffff;
    @media (min-width: 768px) {
        margin-top: 60px;
    }
}
.about p:first-child::before {
    content: "<";
    color: $dark;
    font-weight: bold;
}
.about p:last-child::after {
    content: ">";
    color: $dark;
    font-weight: bold;
}

/*Footer*/
footer {
    color: white;
    background-color: black;
    text-align: center;
    margin-top: 82px;
}
footer p {
    &::before {
        content: "<!-- ";
        color: $primary;
    }
    &::after {
        content: " -->";
        color: $primary;
    }
}
