/*Section projects*/
.projects {
    margin-top: 60px;
}
.projects .nav-tabs a {
    font-family: NunitoBold;
    color: $dark;
}
.projects .btn,
.btn:focus {
    box-shadow: none;
}
#front-tab:focus,
#python-tab:focus,
#java-tab:focus {
    color: $primary;
}
.anu-sep {
    padding-top: 51px;
}
.anu-header h5 {
    padding: 0 23px;
}
.anu-header {
    text-align: center;
    margin-top: 18px;
}
.anu-header:hover a,
.anu-header:hover h5 {
    display: inline-block;
    color: $dark;
}
.anu-header a {
    display: none;
    color: $dark;
}
.anu-img {
    height: 300px;
    overflow-y: auto;
    border-radius: 8px;
}

.anu-box img {
    width: 100%;
}
.video {
    text-align: center;
    background-color: #f7f1f6;
}
.video video {
    width: 100%;
    height: 98%;
}
.img-java-builder {
    min-height: 300px;
}
